<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{title}}</title>
<!--    <link rel="icon" href="/static/img/icons/site-icon.png">-->
    <link rel="stylesheet" href="/static/css/style.css">
<!--    <link rel="stylesheet" href="/static/css/{{page}}_style.css">-->
<!--    <link rel="stylesheet" href="/static/css/adaptability.css">-->
</head>
<body>

{{{ body }}}
<!--<main id="main">-->
<!--</main>-->
</body>
<script src="/static/script/script.js"></script>
</html>